
/** MARGIN **/
.ml-auto{
	margin-left: auto;
}

.mr-auto{
	margin-right: auto;
}

.mx-auto{
	margin-right: auto;
	margin-left: auto;
}

.mt-00 {
	margin-top: 0px;
}

.mt-05 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 0.625rem;
}

.mt-15 {
	margin-top: 1rem;
}

.mt-20 {
	margin-top: 1.25rem;
}

.mt-25 {
	margin-top: 1.56rem;
}

.mt-30 {
	margin-top: 1.8rem;
}

.mt-35 {
	margin-top: 35px;
}

.mt-40 {
	margin-top: 2.5rem;
}

.mt-45 {
	margin-top: 2.75rem;
}

.mt-50 {
	margin-top: 3rem;
}

.mt-60 {
	margin-top: 3.5rem;
}

.mb-00 {
	margin-bottom: 0px;
}

.mb-05 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 0.625rem;
}

.mb-15 {
	margin-bottom: 1rem;
}

.mb-20 {
	margin-bottom: 1.25rem;
}

.mb-25 {
	margin-bottom: 1.56rem;
}

.mb-30 {
	margin-bottom: 1.8rem;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-40 {
	margin-bottom: 2.5rem;
}

.mb-45 {
	margin-bottom: 2.75rem;
}

.mb-50 {
	margin-bottom: 3rem;
}

.mb-60 {
	margin-bottom: 3.5rem;
}

.mr-05 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 0.625rem;
}

.mr-15 {
	margin-right: 1rem;
}

.mr-20 {
	margin-right: 1.25rem;
}

.mr-25 {
	margin-right: 1.56rem;
}

.mr-30 {
	margin-right: 1.8rem;
}

.mr-35 {
	margin-right: 35px;
}

.mr-40 {
	margin-right: 2.5rem;
}

.mr-45 {
	margin-right: 2.75rem;
}

.mr-50 {
	margin-right: 3rem;
}

.mr-60 {
	margin-right: 3.5rem;
}

.ml-a{
	margin-left: auto;
}

.ml-05 {
	margin-left: 5px;
}

.ml-10 {
	margin-left: 0.625rem;
}

.ml-15 {
	margin-left: 1rem;
}

.ml-20 {
	margin-left: 1.25rem;
}

.ml-25 {
	margin-left: 1.56rem;
}

.ml-30 {
	margin-left: 1.8rem;
}

.ml-35 {
	margin-left: 35px;
}

.ml-40 {
	margin-left: 2.5rem;
}

.ml-45 {
	margin-left: 2.75rem;
}

.ml-50 {
	margin-left: 3rem;
}

.ml-60 {
	margin-left: 3.5rem;
}

/** PADDING **/

.pa-10{
	padding: 0.625rem ;
}

.py-5{
	padding-top: 5px;
	padding-bottom: 5px;
}

.py-10{
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}

.py-30{
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
}

.px-10{
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

.px-30{
	padding-right: 1.8rem;
	padding-left: 1.8rem;
}

.pr-a{
	padding-right: auto;
}

.pr-05 {
	padding-right: 5px;
}

.pr-10 {
	padding-right: 0.625rem;
}

.pr-15 {
	padding-right: 1rem;
}

.pr-20 {
	padding-right: 1.25rem;
}

.pr-25 {
	padding-right: 1.56rem;
}

.pr-30 {
	padding-right: 1.8rem;
}

.pr-35 {
	padding-right: 35px;
}

.pr-40 {
	padding-right: 2.5rem;
}

.pr-45 {
	padding-right: 2.75rem;
}

.pr-50 {
	padding-right: 3rem;
}

.pr-60 {
	padding-right: 3.5rem;
}

.pl-a{
	padding-left: auto;
}

.pl-05 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 0.625rem;
}

.pl-15 {
	padding-left: 1rem;
}

.pl-20 {
	padding-left: 1.25rem;
}

.pl-25 {
	padding-left: 1.56rem;
}

.pl-30 {
	padding-left: 1.8rem;
}

.pl-35 {
	padding-left: 35px;
}

.pl-40 {
	padding-left: 2.5rem;
}

.pl-45 {
	padding-left: 2.75rem;
}

.pl-50 {
	padding-left: 3rem;
}

.pl-60 {
	padding-left: 3.5rem;
}

.pb-a{
	padding-bottom: auto;
}

.pb-05 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 0.625rem;
}

.pb-15 {
	padding-bottom: 1rem;
}

.pb-20 {
	padding-bottom: 1.25rem;
}

.pb-25 {
	padding-bottom: 1.56rem;
}

.pb-30 {
	padding-bottom: 1.8rem;
}

.pb-35 {
	padding-bottom: 35px;
}

.pb-40 {
	padding-bottom: 2.5rem;
}

.pb-45 {
	padding-bottom: 2.75rem;
}

.pb-50 {
	padding-bottom: 3rem;
}

.pb-60 {
	padding-bottom: 3.5rem;
}

.pt-a{
	padding-top: auto;
}

.pt-05 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 0.625rem;
}

.pt-15 {
	padding-top: 1rem;
}

.pt-20 {
	padding-top: 1.25rem;
}

.pt-25 {
	padding-top: 1.56rem;
}

.pt-30 {
	padding-top: 1.8rem;
}

.pt-35 {
	padding-top: 35px;
}

.pt-40 {
	padding-top: 2.5rem;
}

.pt-45 {
	padding-top: 2.75rem;
}

.pt-50 {
	padding-top: 3rem;
}

.pt-60 {
	padding-top: 3.5rem;
}